<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Jacobson | Contact </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/JavaScript/script.js"></script>
    <link href="/CSS/my_stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>

<div class="header">
    <h1>Michael Jacobson</h1>
</div>

<div class="menu">
    <ul>
        <li><span>></span><a href="/" class="menu_item">About</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/blog" class="menu_item">Blog</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/gallery" class="menu_item">Gallery</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/portfolio" class="menu_item">Portfolio</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/contact" class="active">Contact</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/links" class="menu_item">Links</a><span>></span></li>
    </ul>
</div>

<div class="main">

<div class="form_container">
    <form method="post" name="email_form" action="/contact/new">
        Full Name<br><input type="text" name="name" id="name"><br>
        <br>
        Email<br><input type="email" name="email" id="email"><br>
        <br>
        Message<br><textarea name="message" id="message"></textarea><br>
        <br>
        <input type="submit" value="Submit" id="submit"><br>
    </form>
</div>

</div>

<div class="footer">
    <p>© 2017 Michael Jacobson | All rights reserved | Website design by Michael Jacobson</p>
</div>

</body>

</html>
