<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Jacobson | Gallery </title>
    <script src='/JavaScript/jquery-3.2.0.js'></script>
    <script type="text/javascript" src="/JavaScript/script.js"></script>
    <link href="/CSS/my_stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

</head>
<body>

<div class="header">
    <h1>Michael Jacobson</h1>
</div>

<div class="menu">
    <ul>
        <li><span>></span><a href="/" class="menu_item">About</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/blog" class="menu_item">Blog</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/gallery" class="active">Gallery</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/portfolio" class="menu_item">Portfolio</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/contact" class="menu_item">Contact</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/links" class="menu_item">Links</a><span>></span></li>
    </ul>
</div>

<div class="lightbox">
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Artichoke.jpg" class="lightbox-image">
</div>

<div class="main">
<!--    <img src="Gallery%20Photos/Alice.jpg" class="lightbox-trigger-top" />
    <p class="captions">Birthday Girl | Hakckey, London</p> -->
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Artichoke.jpg" class="lightbox-trigger-top" />
    <p class="captions">Globe Artichoke | Muswell Hill, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Brighton.jpg" class="lightbox-trigger" />
    <p class="captions">Brighton Pier | Brighton, East Sussex</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Beach%20Huts.jpg" class="lightbox-trigger" />
    <p class="captions">Beach Huts | Broadstairs, Kent</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Broadstairs.jpg" class="lightbox-trigger" />
    <p class="captions">Broadstairs Pier | Broadstairs, Kent</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Chinatown.jpg" class="lightbox-trigger" />
    <p class="captions">Chinatown | Soho, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Corn.jpg" class="lightbox-trigger" />
    <p class="captions">Tall Corn | Muswell Hill, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Dad%202.jpg" class="lightbox-trigger" />
    <p class="captions">Lunch with Dad | Bedford, Bedfordshire</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Dad.jpg" class="lightbox-trigger" />
    <p class="captions">Dad with Gelatto | Broadstairs, Kent</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Door.jpg" class="lightbox-trigger" />
    <p class="captions">Art Deco Door | Portland Square, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Frost.jpg" class="lightbox-trigger" />
    <p class="captions">Frost Crystals | Muswell Hill, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Moggie.jpg" class="lightbox-trigger" />
    <p class="captions">Homeward Bound | Yarcombe, Devon</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Nuffield%20Place.jpg" class="lightbox-trigger" />
    <p class="captions">Nuffield Place | Chiltern Hills, Oxfordshire</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Silhouette.jpg" class="lightbox-trigger" />
    <p class="captions">Silhouettes over the Beach | Broadstairs, Kent</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Spitfires.jpg" class="lightbox-trigger" />
    <p class="captions">Supermarine Spitfires | Bedford, Bedfordshire</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Still%20Life.jpg" class="lightbox-trigger" />
    <p class="captions">Still Life | Muswell Hill, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Sunset.jpg" class="lightbox-trigger" />
    <p class="captions">Sunset | Greenwich, London</p>
    <img src="http://michael-jacobson.co.uk/Gallery%20Photos/Textile.jpg" class="lightbox-trigger" />
    <p class="captions">Vintage Japanese Textile | Muswell Hill, London</p>
</div>

    <div class="footer">
        <p>© 2017 Michael Jacobson | All rights reserved | Website design by Michael Jacobson</p>
    </div>

</body>
</html>