<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Jacobson | About </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/JavaScript/script.js"></script>
    <link href="/CSS/my_stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

<body>

<div class="header">
    <h1>Michael Jacobson</h1>
</div>

<div class="menu">
    <ul>
        <li><span>></span><a href="/" class="active">About</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/blog" class="menu_item">Blog</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/gallery" class="menu_item">Gallery</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/portfolio" class="menu_item">Portfolio</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/contact" class="menu_item">Contact</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/links" class="menu_item">Links</a><span>></span></li>
    </ul>
</div>

<div class="main">

    <div id="about_me">
        <img src="https://s3.eu-west-2.amazonaws.com/michaeljacobson/me.jpg" id="me" />
        <p class="about_me_text">"Amateur photographer and mechanic, junior software engineer.<br>Currently studying at Makers Academy."</p>
    </div>

</div>

<div class="footer">
    <p>© 2017 Michael Jacobson | All rights reserved | Website crafted by Michael Jacobson</p>
</div>

</body>

<% unless @contact.nil? %>

<div class="lightbox" id="confirmation_lightbox">
  <div id="confirmation_message">
    <div id="confirmation_inner">
      <p>Hi <%= @contact %>, thanks for your message. <br>I'll be in touch shortly,<br>Mike</p>
      <br>
      <button id="okay">Okay</button>
    </div>
  </div>
</div>

<% end %>

</html>