<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Jacobson | Portfolio </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/JavaScript/script.js"></script>
    <link href="/CSS/my_stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>

<div class="header">
    <h1>Michael Jacobson</h1>
</div>

<div class="menu">
    <ul>
        <li><span>></span><a href="/" class="menu_item">About</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/blog" class="menu_item">Blog</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/gallery" class="menu_item">Gallery</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/portfolio" class="active">Portfolio</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/contact" class="menu_item">Contact</a><span>></span></li>
        <li class="delimiter">|</li>
        <li><span>></span><a href="/links" class="menu_item">Links</a><span>></span></li>
    </ul>
</div>

<div class="main">
    <div id="portfolio">
        <div></div>
            <h3 class="portfolio_title">tinyBlogger</h3>
            <a href="http://tinyblogger.co.uk" target="_blank">www.tinyblogger.co.uk</a>
            <p class="portfolio_blurb">A simple microblogging platform.<br>
            Built using Ruby, Sinatra, vanilla JavaScript, jQuery, HTML, and CSS.</p>
        </div>
        <br><br>
        <div></div>
            <h3 class="portfolio_title">Ruby, Paper, Scissors!</h3>
            <a href="http://rubypaperscissors.co.uk" target="_blank">www.rubypaperscissors.co.uk</a>
            <p class="portfolio_blurb">Play the well-known game Rock, Paper, Scissors online.<br>
            Built using Ruby, Sinatra, HTML and CSS.</p>
        </div>
    </div>
</div>

<div class="footer">
    <p>© 2017 Michael Jacobson | All rights reserved | Website design by Michael Jacobson</p>
</div>

</body>

</html>

